.btn {
  padding-inline: 2rem;
  padding-block: .8rem;
  border: solid 2.4px;
}
.btn--primary {
  color: white;
  fill: white;
  background-color: black;
  border-color: black;
}
.btn--primary:hover,
.btn--primary:focus {
  color: black;
  fill: currentColor;
  background-color: white;
  border-color: red;
}
