.btn-link {
    border: none;
    background: white !important;
    padding-inline: 1rem !important;
    display: flex !important;
    max-width: max-content;
    color: black !important;
    text-decoration: none !important;
    font-weight: normal !important;
    font-size: 0.8rem !important;

    &:hover {
      color: var(--red-700)
    }
}
.btn-primary {
  color: var(--black-50) !important;
  border-color: var(--red-800) !important;
  background: var(--red-700) !important;
}
.btn-secondary {
  color: var(--black-400) !important;
  border-color: var(--black-400) !important;
  background-color: white !important;

  &:hover {
    background-color: var(--black-50) !important;
  }
}
