.tab__item a {
  opacity: 0.8;
  display: flex;
  border-bottom: solid 0.2rem #ccc;
  padding-block: 1rem;
  padding-inline: 2rem;

  &.is-active {
    font-weight: bold;
    opacity: 1;
    border-bottom: solid 0.2rem red;
  }
}
