.tab__item a {
  opacity: 0.8;
  display: flex;
  border-bottom: 0.2rem solid var(--color-border);
  padding-block: var(--spacing-4);
  padding-inline: var(--spacing-8);
  color: var(--color-text-muted);
  text-decoration: none;
  transition: color 0.15s, border-color 0.15s;
}

.tab__item a.is-active {
  font-weight: 700;
  opacity: 1;
  color: var(--color-text);
  border-bottom-color: var(--color-primary);
}