{% set tab_classes = [
    "tabs",
    "flex",
    tab_type ? "tabs-" ~ tab_type,
    tab_size ? "tabs-" ~ tab_size,
    tab_classes,
]%}
<div class="{{ tab_classes|join(" ") }}">
  {% block tab_content_primary %}
  {{ tab_text }}
  {% endblock %}
</div>
