.my-banner.my-banner--tall {
  min-height: 500px;
  display: flex;
  flex-direction: column;
}
.my-banner.my-banner--tall .my-banner--header {
  margin-top: auto;
}
.my-banner.my-banner--tall .my-banner--header h3 {
  font-size: 4em;
}
