{%
  set classes = [
  'card',
  'flex',
  'gap-4',
  ]
%}

<div {{ attributes.addClass(classes)}}>
  <div class="card__media basis-1/2 border-frame">
    {% block card_media %}
    {% endblock %}
  </div>
  <div class="card__content flex flex-col justify-center items-center gap-2">
    {% block card_content %}
    {% endblock %}
  </div>
</div>
