{% set grid_classes = [
  "grid",
  "gap-" ~ grid_gap,
] %}

{# TODO: This classes are here because thera no built at runtime #}
{% set grid_classes_dummy = [
  "md:grid-cols-2",
  "lg:grid-cols-3",
  "gap-" ~ grid_gap,
] %}

{% set grid_classes = grid_classes|merge([
  "grid-cols-" ~ grid_cols,
  "md:grid-cols-" ~ (grid_cols + 1),
]) %}

<section {{ attributes }}>
<div class="py-10">
  <div class="flex items-center justify-between bg-white bg-gray-900 p-2">
    {% if title %}
      {% include "icosaedrico:heading" with {
        heading_title: title,
        heading_tag: "h1",
      } %}
    {% endif %}
    <button class="focus:outline-none">
      <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-gray-600 transition-colors duration-300 transform text-gray-400 hover:text-blue-500" fill="none" viewbox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"/>
      </svg>
    </button>
  </div>
  <hr class="my-8 border-gray-200 border-gray-700">

  {# Grid cell #}
  <{{grid_tag_item}} class="{{ grid_classes|join(' ') }}">
    {% for row in rows %}
      <li>
        {% block grid_content %}{% endblock %}
      </li>
    {% endfor %}
    <{{grid_tag_item}}
  </div>
</section>
