{% set grid_classes = [
  "grid",
  "gap-" ~ grid_gap,
] %}

{# TODO: This classes are here because thera no built at runtime #}
{% set grid_classes_dummy = [
  "md:grid-cols-2",
  "lg:grid-cols-3",
  "gap-" ~ grid_gap,
] %}

{% set grid_classes = grid_classes|merge([
  "grid-cols-" ~ grid_cols,
  "md:grid-cols-" ~ (grid_cols + 1),
]) %}

<section {{ attributes }}>
<div class="py-10">
  {# Grid cell #}
  <{{grid_tag_item}} class="{{ grid_classes|join(' ') }}">
    {% for row in rows %}
      <li>
        {% block grid_content %}{% endblock %}
      </li>
    {% endfor %}
    <{{grid_tag_item}}
  </div>
</section>
