{% set grid_classes = [
  "grid",
  "gap-" ~ grid_gap,
] %}

{# Convert grid_cols to integer before math operations #}
{% set md_cols = grid_cols|default(1)|number_format + 1 %}

{% set grid_classes = grid_classes|merge([
  "grid-cols-" ~ grid_cols,
  "md:grid-cols-" ~ md_cols,
]) %}

<section {{ attributes.addClass(grid_classes) }}>
  <{{ grid_tag_item }} class="grid-item">
    {% for row in rows %}
      <li>
        {% block grid_content %}{% endblock %}
      </li>
    {% endfor %}
  </{{ grid_tag_item }}>
</section>