{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region <div>.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}
{% if attributes is not empty %}
  <div{{attributes}}>
  {% endif %}
  <nav class="navbar bg-base-100">
    <div class="flex-1">
     {{ content.icosaedrico_site_branding }}
    </div>
    <div class="text-center hidden lg:flex">
     {{content.icosaedrico_main_menu}}
     {{ content|without(
       'icosaedrico_main_menu',
       'icosaedrico_site_branding',
       ) }}
    </div>
    <div class="flex-1 justify-end">
      {# {% include 'icosaedrico:theme_switch' %} #}
    </div>
  </nav>

  {% if attributes is not empty %}
  </div>
{% endif %}
