<label class="swap swap-rotate">

  <!-- this hidden checkbox controls the state -->
  <input type="checkbox" class="theme-controller" value="light" />

  <!-- sun icon -->

  {% include "icosaedrico:icon" with {
    icon_name: "sun",
    icon_svg_size: "24",
    icon_svg_classes: "swap-on fill-current"
  } only %}


  <!-- moon icon -->

  {% include "icosaedrico:icon" with {
    icon_name: "moon",
    icon_svg_size: "24",
    icon_svg_classes: "swap-off fill-current"
  } only %}
</label>
