{% set classes = [
    "badge",
    badge_color ? "badge-" ~ badge_color,
    badge_outline ? "badge-outline",
    badge_size ? "badge-" ~ badge_size,
    badge_text_size ? "badge-" ~ badge_text_size,
    "px-3 py-2",

]%}
<a href="{{ badge_href }}" class="{{ classes | join(" ")}}">
 {{ badge_text }}
 {% if badge_icon is not empty %}
    {{ source(componentMetadata.path ~ '/img/' ~ badge_icon ~ '.svg') }}
  {% endif %}
</a>
