.grid-container {
  display: grid;
  background-color: white;
  gap: 0.2rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);


  @media all and (min-width: 576px) {
      grid-template-columns: repeat(3, 1fr);
  }
  @media all and (min-width: 768px) {
      grid-template-columns: repeat(4, 1fr);
  }

  @media all and (min-width: 1200px) {
      grid-template-columns: repeat(5, 1fr);
  }
  @media all and (min-width: 1400px) {
      grid-template-columns: repeat(6, 1fr);
  }

  &.grid-container--one-row {
    grid-template-rows: 1fr;
  }

  /* a:nth-child(13n) {
      grid-row: span 2;
    } */
}



/* Horizonal: más columnas */
@media (min-aspect-ratio: 5/2) {

  .grid-container {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}

/* Vertical: más filas */
@media (max-aspect-ratio: 3/3.2) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
}


.grid-item {
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: relative;
  aspect-ratio: 1/1;
  object-fit: cover;

}

.grid-container>a:nth-child(13n + 2) .grid-item {
  grid-column: span 2;
  grid-row: span 2;
}


.grid-item a {
  position: absolute;
  inset: 0;
  display: block;
  opacity: 0;
  visibility: hidden;
  cursor: pointer;
  transition: opacity 1s ease-in-out, visibility 1s ease-in-out;
}

.grid-item a.active {
  opacity: 1;
  visibility: visible;
  z-index: 1;
}

.grid-item a:first-child.active {
  z-index: 2;
}

.grid-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transform: translateZ(0);

}

.grid-item-name {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--fs-md);
  text-align: center;
  background-color: var(--black);
  color: white;
  grid-column: span 2;
  flex-direction: column;
  gap: 1rem;
  padding-inline: 2rem;

  a {
    color: white;
  }
  &:nth-of-type(2n) {
    grid-column: span 1;
    grid-row: span 2;
  }
}

@keyframes random-cycle {

  0%,
  20% {
    opacity: 1;
    visibility: visible;
  }

  25%,
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.grid-item.css-animated a {
  animation: random-cycle 15s infinite;
}

.grid-item.css-animated a:nth-child(1) {
  animation-delay: 0s;
}

.grid-item.css-animated a:nth-child(2) {
  animation-delay: 3s;
}

.grid-item.css-animated a:nth-child(3) {
  animation-delay: 6s;
}

.grid-item.css-animated a:nth-child(4) {
  animation-delay: 9s;
}

.grid-item.css-animated a:nth-child(5) {
  animation-delay: 12s;
}


/* CSS adicional para el toggle de imágenes */
.grid-item-name {
  transition: background-color 0.3s ease;
}

.grid-item-name:hover {
  background-color: #333;
}

.grid-item-name.expanded {
  background-color: #444;
}

.more-images-indicator {
  cursor: pointer;
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  color: white;
  padding: .6rem;
  font-family: arial;
  font-size: 1.3rem;
  font-weight: lighter;
}

/* Opcional: añadir un efecto de fade para las imágenes que aparecen/desaparecen */
.grid-container>a {
  transition: opacity 0.3s ease, transform 0.3s ease;
  position: relative;
}

.grid-container>a[style*="display: none"] {
  opacity: 0;
  transform: scale(0.9);
}
