/* Frames */
.border-frame {
  padding: 0.2rem;
  box-shadow: black 0px 0px 3px -1px;
}
/* Containers */
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px !important;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px!important;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px !important;
  }
}

.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

/* Divider */
.divider {
  height: inherit !important;
  white-space: wrap !important;
}

/* Black and white pics */
.splide--optionset--trabajo-archivos .splide__slide img {
  filter: grayscale(100%);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.splide--optionset--trabajo-archivos {
  .splide__slide img:hover {
    filter: grayscale(0%);
  }
}

.tech-icons {
  padding-top: 1rem;
  img {
    width: 25px;
  }
}


/* Article */
.archivados {
    .grid-item {
        width: 120px;
        height: 80px;
        overflow: hidden;
        position: relative;
    }
    
    .device-screen {
        width: 100%;
        height: auto;
        position: absolute;
        top: 0;
        left: 0;
        transition: transform 1.5s ease-out;
    }
    
    .grid-item:hover .device-screen {
        transform: translateY(var(--scroll-distance, 0px));
    }
}