  {% block tabs %}
    {% if primary %}
      <h2 class="visually-hidden">{{ 'Primary tabs'|t }}</h2>
      <ul class="menu tabs tabs--primary flex justify-center">{{ primary }}</ul>
    {% endif %}
    {% if secondary %}
      <h2 class="visually-hidden">{{ 'Secondary tabs'|t }}</h2>
      <ul class="menu tabs tabs--secondary">{{ secondary }}</ul>
    {% endif %}
  {% endblock %}
