{% set classes = [
  "page-title",
  "ff-reem-kufi",
  "uppercase",
  "font-bold",
  "text-center",
] %}

  {% block title_block %}
    {{ title_prefix }}
{% if title %}
  <div class="flex w-full flex-col border-opacity-50">
  <div class="divider">
    {% include "icosaedrico:heading" with {
  heading_title: title,
  heading_attributes: title_attributes,
  heading_tag: "h1",
  heading_classes: classes|join(' '),
} %}

  </div>
</div>
{% endif %}
{{ title_suffix }}
  {% endblock %}
