.divider {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
}

.divider::before,
.divider::after {
  content: "";
  display: block;
  width: 12%;
  height: 1px;
  background-color: var(--color-border);
  flex-shrink: 0;
}

.page-title--article {
  .page-title {
    text-transform: none;
  }
}
.page-title--blog {
  text-transform: none;
  width: auto;
  font-size: 2rem;
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 200;
}
