.divider {
  justify-content: center;

  &::before,
  &::after {
    width: 12% !important;
    flex-grow: 0!important;
    background-color: #dbdbdb!important;
  }
}

.page-title--article {
  .page-title {
    text-transform: none;
  }
}
.page-title--blog {
  text-transform: none;
  width: auto;
}
