<div {{ attributes }}>
  {% block title_block %}
    {{ title_prefix }}
    {% if title %}
      {% include "icosaedrico:heading" with {
        heading_title: title,
        heading_tag: "h1",
        heading_classes: "py-6 my-2 border-b",
      } %}
    {% endif %}
    {{ title_suffix }}
  {% endblock %}
</div>
